.chatbot-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-image: url("Image/icon1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  background-image: url("Image/register.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 5%;
  margin-left: 20px;
}

.login-form {
  background-color: #ffffff;
  border: 1px solid #00000061;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  margin-top: 80px;
  margin-left: 600px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.Login_btn {
  display: flex;
  justify-content: center;
  align-items: center;

}