.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  background-image: url("Image/login.jpg");
  background-size: cover;
  background-repeat: repeat;
  align-items: center;
  position: relative;
  background-position: center;
  padding: 7%;
}

.register-form {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 500px;
  margin-left: 500px;
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
}

.login-link p,
.login-link button {
  display: inline;
}

.login-link button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.login-link button:hover {
  text-decoration: underline;
}

.login-spacer {
  margin-right: 10px;
}

.button_submit {
  display: flex;
  justify-content: center;
  align-items: center;
}